.build-block {
  min-height: 100px;
  background-color: rgb(214, 214, 214);
  border-radius: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &[draggable="true"] {
    cursor: grab;
  }

  &[draggable="false"] {
    cursor: auto;
  }
  
  &.select-block {
    margin-top: 16px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .block-type {
    margin: 8px 4px 4px 4px;
  }
  &.placed-block.root-block {
    position: absolute;
    left: var(--pos-x);
    top: var(--pos-y);
    height: auto;
    min-width: 180px;
  }
  &.placed-block.nested-block {
    background-color: white;
    border: 1px solid black;
    min-height: 0;
    min-height: 50px;
    align-self: stretch;
    width: auto;
    flex: 0 0 auto;
    justify-self: stretch;
    margin: 20px 20px;
    min-width: 120px;
    & > .nested-block  {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}